* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
    font-family: "Lato" !important;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

p {
    font-size: 0.875rem;
    line-height: 2.4;
    letter-spacing: 0.3px;
}