* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
    font-family: "DM Sans" !important;
}

/* html {
    overflow-x: hidden;
    overflow-y: scroll;
} */

body {
    /* font-family:'Nunito Sans', Helvetica, sans-serif; */
    font-size: 100%;
    line-height: 1.5;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
     
}

a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

