/* =============== # Header =============== */

/* Header Default */

.main-header,
.header-icons {
    height: 100px;
    line-height: 100px;
}

.logo {
    height: 64px;
    position: absolute;
    margin-top: 17px;
    border-radius: 100%;
    border:2px solid #1c1440;
    margin-left: 5rem;
}

.main-header .navigation {
    float: right;
}

.main-header .navigation > ul > li {
    float: left;
    font-size: 0.75rem;
    letter-spacing: 2.5px;
    list-style: none;
    margin-left: 60px;
    position: relative;
    text-transform: uppercase;
}

/* Header Minimal */

.header-minimal {
    height: 100px;
}

.header-border {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header-minimal .open-nav {
    display: block;
}

.logo-alt {
    margin-top: 31px;
    width: 112px;
}

.logo-alt-small {
    display: none;
    margin-top: 37px;
    width: 40px;
}

/* Header Icons */

.header-icons ul li {
    list-style: none;
}


/* .header-icons .navigation {
    float: left;
    position: fixed;
    margin-right: 20rem;
} */

.header-icons .navigation > ul > li {
    float: left;
}

/* .header-icons .menu,
.header-icons .menu-icons {
    float: left;
} */

.header-icons .menu {
    margin-left: 30rem;
}

.header-icons .menu li {
    font-size: 1.5rem;
    font-weight: 700;
}
.header-icons .menu li :hover {
    color: #FF0000; 
  }

/* Header Aside */

.header-aside {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100px;
}

.header-aside .logo {
    margin-left: 31px;
    margin-top: 35px;
}

.header-aside .open-nav {
    display: block;
    float: none;
    height: 22px;
    left: 50%;
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 28px;
}

.header-aside .social-icons {
    bottom: 31px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.header-aside .social-icons li {
    float: none;
    list-style: none;
    margin-left: 0;
    margin-bottom: 17px;
}

.header-aside .social-icons li:last-child {
    margin-bottom: 0;
}

.header-aside-border {
    border-right: 1px solid #ddd;
}
