* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-family: "DM Sans", sans-serif !important;
}

/* html {
    overflow-x: hidden;
    overflow-y: scroll;
} */

body {
  font-size: 100%;
  line-height: 1.5;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden !important;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  scrollbar-width: none;
}
.active-question {
  background: #079be6 !important;
  color: white !important;
}
.selected-option {
  color: #079be6 !important;
}
.green-txt {
  color: #3cd458;
}
.slide {
  animation: slide 1s forwards;
  animation-timing-function: ease;
}
@keyframes slide {
  0% {
    position: relative;
    opacity: 0;
    top: -100%;
  }
  100% {
    top: 0;
    position: unset;
    opacity: 1;
  }
}
